<mat-card class="example-card">
  <mat-card-header>
    <h1>1. Single Resolver (No resolve contaner/ No directive provider)</h1>
  </mat-card-header>
  <mat-card-content>
    <p>Here we are using a single directive that inherits Resolver. In this case when we are not using a resolve
      container we don't need to use multi provides for the directive and we don't need the HGResolversModule.</p>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div>
      <button id="reload-btn" button mat-raised-button color="primary" (click)="userListResolver.resolve()">Trigger
        Resolve</button>
      <span style="font-style: italic;">Note: UserService loadUsers has a delay operator applied! </span>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div id="container" appUserListResolver #userListResolver="appUserListResolver">
      <mat-progress-spinner *ngIf="!userListResolver.isResolved" class="example-margin" color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
      <div id="content" *ngIf="userListResolver.isResolvedSuccessfully">
        <table mat-table [dataSource]="userListResolver.data$ | async" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>


          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>


          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div *ngIf="userListResolver.isErrored">Error {{userListResolver.error}}</div>
    </div>
  </mat-card-content>
</mat-card>