<i>AAA</i>
<br />
<button (click)="reloadAll()">Reload All</button>

<ng-template #postsLoader>Loading...</ng-template>
<ng-template #postsError let-error>{{error | json }}</ng-template>
<hg-resolve [resolveOnInit]="true" [loaderTemplateRef]="postsLoader" [errorTemplateRef]="postsError"
  [autoControlError]="true" [autoControlLoader]="true" appPostsListResolver #postsListResolver="postsListResolver">
  <h1>Posts</h1>
  <button (click)="reloadPostsList()">Reload User List</button>
  <div class="list-holder">
    <table mat-table [dataSource]="postsListResolver.data$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"
        [ngClass]="{ 'selected': selectedPost === row }"></tr>
    </table>
  </div>
</hg-resolve>

<h1>Post User</h1>
<div *ngIf="noAttach">
  <button (click)="reloadPostUser()">Reload Post User</button>
  <ng-template #postUserLoader let-isLoading>
    <div *ngIf="isLoading">Loading...</div>
  </ng-template>

  <ng-template #postUserError let-hasError let-errors="errors">
    <div *ngIf="hasError">Error: {{errors | json}}</div>
  </ng-template>

  <hg-resolve [resolveOnInit]="true" [loaderTemplateRef]="postUserLoader" [errorTemplateRef]="postUserError"
    [appPostUserResolver]="!selectedPost?.userId" #postUserResolver="postUserResolver"
    [selectedId]="selectedPost?.userId">

    <div class="list-holder" *ngIf="(postUserResolver.data$ | async) && !postUserResolver.isLoading">
      {{ postUserResolver.data$ | async | json }}
    </div>
  </hg-resolve>

  <h1>AAA!</h1>

  <hg-resolve [resolveOnInit]="true" [loaderTemplateRef]="postUserLoader" [errorTemplateRef]="postUserError"
    [appPostUserResolver]="!selectedPost?.userId" #postUserResolver2="postUserResolver"
    [selectedId]="selectedPost?.userId">

    <div class="list-holder" *ngIf="(postUserResolver2.data$ | async) && !postUserResolver2.isLoading">
      {{ postUserResolver2.data$ | async | json }}
    </div>
  </hg-resolve>
</div>
<div *ngIf="!noAttach">
  <div hgResolve>
    <div hgResolveAttach [appPostUserResolver]="!selectedPost?.userId" #postUserResolver3="postUserResolver"
      [selectedId]="selectedPost?.userId">
      {{ postUserResolver3.data$ | async | json }}
    </div>
    <div hgResolveAttach [appPostUserResolver]="!selectedPost?.userId" #postUserResolver4="postUserResolver"
      [selectedId]="selectedPost?.userId">
      {{ postUserResolver4.data$ | async | json }}
    </div>

    <ng-container *ngIf="hello">
      <div hgResolveAttach [appPostUserResolver]="!selectedPost?.userId" #postUserResolver5="postUserResolver"
        [selectedId]="selectedPost?.userId">
        {{ postUserResolver5.data$ | async | json }}
      </div>
    </ng-container>
  </div>
</div>