<mat-card class="example-card">
  <mat-card-header>
    <h1>7. Complex loaders</h1>
    <app-spinner *ngIf="resolve.isResolving">
    </app-spinner>
  </mat-card-header>
  <mat-card-content>
    <p>This example has exactly the same configuration as <a routerLink="dynamically-attaching-duplicate-resolvers">5.
        Dynamically Attaching Duplicate Resolvers (with unique ids)</a>. The only difference are the complex loaders
      (marked
      in red) indicating that something is happening.
    </p>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div>
      <button button mat-raised-button color="primary" (click)="toggleUsersPostsCount()">Toggle User Posts
        Count</button> Current value: {{showUserPostsCount}}

      <button button mat-raised-button color="primary" (click)="toggleUsersPosts()">Toggle User Posts</button> Current
      value: {{showUserPosts}}

      <button id="reload-btn" button mat-raised-button color="primary" (click)="resolve.resolve()">Trigger
        Resolve</button>

      <br />
      <div style="font-style: italic;">Note: UserService loadUsers and PostServie loadPosts have a delay operator
        applied!
        Also if you go to the user
        service you can uncomment to throwError line in order to view how the error will be displayed</div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />

    <hg-resolve #resolve="hgResolve" [resolveOnInit]="true" appUserListResolver #userListResolver="appUserListResolver"
      [hideContentUntilResolvedSuccessfully]="false" [resolveOnInit]="true">
      <mat-grid-list cols="4" rowHeight="600px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <ng-container *ngIf="!userListResolver?.isSettled">
            <mat-progress-spinner id="user-list-loader" class="example-margin" color="primary" mode="indeterminate">
            </mat-progress-spinner>
            <div id="loader-overlay"></div>
          </ng-container>

          <div *ngIf="userListResolver.data$ | async" class="resolve-content">
            <h2>Users</h2>
            <table mat-table [dataSource]="userListResolver.data$ | async">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>


              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>


              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr [ngClass]="{ 'active': row.id === selectedUserId }" mat-row
                *matRowDef="let row; columns: displayedColumns;" (click)="rowClickHandler(row)"></tr>
            </table>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div *ngIf="!showUserPostsCount && !showUserPosts">Nothing to show here</div>
          <div *ngIf="!selectedUserId && (showUserPostsCount || showUserPosts) && userListResolver.data$ | async">No
            User Selected</div>

          <div *ngIf="(selectedUserId && userListResolver.data$ | async)" class="resolve-content">

            <ng-container *ngIf="showUserPostsCount">
              <ng-container hgResolveAttach appUserPostsResolver [selectedUserId]="selectedUserId"
                #userPostsResolver="appUserPostsResolver">

                <div class="resolve-inner-content" style="height: 80px;">

                  <ng-container *ngIf="userPostsResolver && !userPostsResolver.isSettled">
                    <mat-progress-spinner id="user-list-loader" class="example-margin" color="primary"
                      mode="indeterminate">
                    </mat-progress-spinner>
                    <div id="loader-overlay"></div>
                  </ng-container>
                  <ng-container *ngIf="userPostsResolver.data$ | async">
                    <h2>User Posts Count</h2>
                    {{(userPostsResolver.data$ | async)?.length}}
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="showUserPosts">
              <ng-container hgResolveAttach appUserPostsResolver [selectedUserId]="selectedUserId"
                #userPostsResolver="appUserPostsResolver">

                <div class="resolve-inner-content" style="height: 600px;">
                  <ng-container *ngIf="userPostsResolver && !userPostsResolver.isSettled">
                    <mat-progress-spinner id="user-list-loader" class="example-margin" color="primary"
                      mode="indeterminate">
                    </mat-progress-spinner>
                    <div id="loader-overlay"></div>
                  </ng-container>
                  <ng-container *ngIf="userPostsResolver.data$ | async">
                    <div id="holder">
                      <h2>User Posts</h2>
                      <button button mat-raised-button color="accent"
                        (click)="userPostsResolver.resolve()">Reload</button>
                    </div>
                    <table mat-table [dataSource]="userPostsResolver.data$ | async">

                      <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef> User Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                      </ng-container>


                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="postsDisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: postsDisplayedColumns;"></tr>
                    </table>
                  </ng-container>

                </div>
              </ng-container>
            </ng-container>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </hg-resolve>
  </mat-card-content>
</mat-card>