<ng-template #loader let-isLoading>
  <app-loader loaderSize="small" [visible]="isLoading" [localLoader]="true"></app-loader>
</ng-template>
<div class="container">
  <button (click)="hideUsers = !hideUsers">Toggle Users</button>
  <ng-template [ngIf]="!hideUsers">
    <div>UserListIsLoading: {{userListAsyncRender.isLoading}}</div>
    <button (click)="userListAsyncRender.refresh$.next()">Reload Users</button>
    <hg-async-render [loaderTemplateRef]="loader" #userListAsyncRender="asyncRender" appUserListAsyncResolver>
      <h1>User List</h1>
      <ul>
        <li *ngFor="let user of users$ | async"> {{ user.email }}</li>
      </ul>
    </hg-async-render>
  </ng-template>
</div>

<div class="container">
  <button (click)="hideUserPosts = !hideUserPosts">Toggle User Posts</button>
  <ng-template [ngIf]="!hideUserPosts">
    <div>UserPostsListIsLoading: {{userPostsListAsyncRender?.isLoading}}</div>
    <hg-async-render [loaderTemplateRef]="loader" #userPostsListAsyncRender="asyncRender" appUserPostListAsyncResolver>
      <h1>User Posts List</h1>
      <ul>
        <li *ngFor="let post of posts$ | async"> {{ post.title }}</li>
      </ul>
    </hg-async-render>
  </ng-template>
</div>

<div class="container">
  <h1>Async Render Directive</h1>
  <button (click)="hideDirective2 = !hideDirective2">Toggle Users (Directive)</button>
  <ng-template [ngIf]="!hideDirective2">
    <div>UserListIsLoading (Directive): {{userListAsyncRenderDirective.isLoading}}</div>
    <button (click)="userListAsyncRenderDirective.refresh$.next()">Reload Users</button>
    <ng-template hgAsyncRender #userListAsyncRenderDirective="asyncRender" [appUserListAsyncResolver]="false">
      <h1>User List</h1>
      <ul>
        <li *ngFor="let user of users$ | async"> {{ user.email }}</li>
      </ul>
    </ng-template>
  </ng-template>
</div>
<br>
Skip User Post Dep: {{skip}}
<button (click)="skip = !skip">Toogle Skip</button>
<div class="container">
  <h1>Async Render Directive</h1>
  <button (click)="hideDirective2 = !hideDirective2">Toggle User Post Dep (Directive)</button>
  <ng-template [ngIf]="!hideDirective2">
    <div>UserPostDepIsLoading (Directive): {{userPostDepAsyncRenderDirective.isLoading}}</div>
    <button (click)="userPostDepAsyncRenderDirective.refresh$.next()">Reload User Post</button>
    <ng-template hgAsyncRender #userPostDepAsyncRenderDirective="asyncRender" [appUserPostDepAsyncResolver]="skip">
      <h1>Post</h1>
      {{ post$ | async | json }}
    </ng-template>
  </ng-template>
</div>