<nav>
  <a routerLink="/single-resolver">1. Single Resolver</a>
  <a routerLink="/single-resolver-with-container">2. Single Resolver With Container</a>
  <a routerLink="/container-with-multiple-resolvers">3. Container With Multiple Resolvers</a>
  <a routerLink="/container-with-multiple-resolvers-with-dependencies">3. Container With Multiple Resolvers with
    Dependencies</a>
  <a routerLink="/dynamically-attaching-resolvers">4. Dynamically Attaching Resolvers</a>
  <a routerLink="/dynamically-attaching-duplicate-resolvers">5. Dynamically Attaching Duplicate Resolvers</a>
  <a routerLink="/complex-loaders">6. Complex Loaders</a>
  <a routerLink="/about">About</a>
</nav>
<router-outlet></router-outlet>