<i>Single async-render (directive) with multiple resolvers. We also have a loader component that is used when fetching
  any of the data that needs to be resolved within the async-render. In this example we are loading all the posts for
  the selected user from the table. We also have mutiple buttons using the ViewChild selectors to imperativelly trigger
  a reload. We are also skipping the user posts resolver when there is no user selected.</i>
<br />
<button (click)="reloadAll()">Reload All</button>
<app-loader [visible]="asyncRender.isLoading">
  <ng-container hgAsyncRender #asyncRender="asyncRender" appUserListResolver #userListResolver="userListResolver"
    [appUserPostsResolver]="!selectedElementId" #userPostsResolver="userPostsResolver" [selectedId]="selectedElementId">
    <h1>Users</h1>
    <button (click)="reloadUserList()">Reload User List</button>
    <div class="list-holder">
      <table mat-table [dataSource]="userListResolver.data$ | async" class="mat-elevation-z8">
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"
          [ngClass]="{ 'selected': selectedElementId === row.id }"></tr>
      </table>
    </div>
    <ng-container *ngIf="selectedElementId && (userPostsResolver.data$ | async)">
      <h1>User Posts</h1>
      <button (click)="reloadUserPosts()">Reload User Posts</button>
      <div class="list-holder">
        <table mat-table [dataSource]="(userPostsResolver.data$ | async)" class="mat-elevation-z8">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedPostsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedPostsColumns;"></tr>
        </table>
      </div>
    </ng-container>
  </ng-container>
</app-loader>